 
   <div class="news-block">
      <h3 style="color:#8A0300">GRE Prep: Princeton Review</h3>
        <p>The Princeton Review is a competitor to Kaplan, also offering comprehensive GRE review courses.</p>
          <small>Posted on September 1, 2009</small>
          <%= link_to 'Open Link', 'http://www.princetonreview.com/grad/gre-test-preparation.aspx', :class => "read-more", :target => "_blank" %>
    </div>