
  <div class="media-block">
    <h3><a href="#">GRE Vocabulary Rap</a></h3>
    <p>'Nuf said!</p>
    <object width="220" height="180"><param name="movie" value="http://www.youtube.com/v/1fuQL-8Q7eI&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/1fuQL-8Q7eI&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="220" height="180"></embed></object>
</div>

   <div class="media-block">
      <h3><a href="#">911 Call for Math Help</a></h3>
      <p>A 4-year-old calls 911 for help with her math homework.</p>
<object width="220" height="180"><param name="movie" value="http://www.youtube.com/v/RmSAgW9f1HQ&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/RmSAgW9f1HQ&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="220" height="180"></embed></object>
</div>